@font-face {
	font-family: "San Franciso";
	src: url("../fonts/SFPro-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "San Franciso";
	src: url("../fonts/SFPro-Semibold.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "San Franciso";
	src: url("../fonts/SFPro-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}
